@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Danh sách sản phẩm (ViewComponent)</h1>
</div>

@await Component.InvokeAsync("ProductBox", new { sapxeptang = true })

<hr />
<h3>Danh sách giá giảm dần:</h3>
@await Component.InvokeAsync("ProductBox", new { sapxeptang = false })